.main-default{
    min-width: 80%;
}
.main-form{
    max-width: initial;
}
.cta-container{
    width:100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.aside-cta-btn{
    width:100%;
}
section{
    padding-bottom: 5%;
}

#default-aside{
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-left-style: none;
    padding-top: 5%;
}

#profile-row{
    flex-direction: column-reverse;
}
#profile-aside{
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-left-style: none;
}
#profile-section{
    padding-top: 5%;
}
#profile-nav .nav-item:first-child .nav-link{
    border-radius: 0 0 var(--bs-nav-pills-border-radius) var(--bs-nav-pills-border-radius);
}

@media (min-width: 1030px)
{
    .main-form{
        max-width: 50%;
    }
}

@media (min-width: 830px) and (max-width: 1029px)
{
    .main-form{
        max-width: 85%;
    }
}

@media (min-width: 768px) {
    section{
        padding-bottom: 0;
    }
    #default-aside{
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-top-style: none;
        padding-top: 0;
    }
    .cta-container{
        max-width:500px;
        margin-left: auto;
        margin-right: auto;
    }
    #home-img{
        height: 60vh;
    }
    .aside-cta-btn{
        max-width: 70%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin-left:5%;
    }
    #profile-row{
        flex-direction: initial;
    }
    #profile-aside{
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-bottom-style: none;
        padding-bottom: 0;
    }
    #profile-section{
        padding-top: 0;
    }
    #profile-nav .nav:first-child .nav-link{
        border-radius: 0;
    }
    #profile-nav-collapse-btn{
        display:none;
    }
    #profile-nav-collapse{
        display:initial;
    }
    #profile-nav .nav-link{
        border-radius: var(--bs-nav-pills-border-radius) !important;
    }
}