:root{
    --bs-primary: #e68201 !important;
    --bs-link-color: var(--bs-primary) !important;
    --bs-link-hover-color: var(--bs-primary) !important;

    --darker-primary: #c57001;
    --darker-primary2: #c77100;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--bs-primary);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e68201;
    --bs-btn-border-color: #e68201;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c0780b;
    --bs-btn-hover-border-color: #af6e0b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #af6e0b;
    --bs-btn-active-border-color: #9c6209;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #a56005;
    --bs-btn-disabled-border-color: #a56005;
}

.navbar-dark .nav-link{
    color:rgba(255, 255, 255, 0.8);
}
.navbar-dark .nav-link:hover{
    color:rgba(255, 255, 255, 0.644);
}
#profile-nav-collapse-btn{
    background-color: var(--darker-primary2);
    border-bottom-color: var(--darker-primary);
}